
*.aux

*.log

*.bbl

*.blg

*.out

*.brf

autocontgrlp_flattened.pdf

*.brf

autocontgrlp.pdf

single/README.md

autocontgrlp.brf

*.gz

*.fls

*.fdb_latexmk

*.bak

*.xml

autocontgrlp-blx.bib

*.pdf

autocontrol_review/response_letter-blx.bib

autocontrol_review/pack.tex
